.home {
    position: relative;

    background-color: rgba(193, 226, 193, 0.06);
    display: grid;
    justify-items: center;
    grid-template-rows: [header-s] 218px [header-e card-s] minmax(736px, 994px) [card-e];
}

.header {
    font-family: 'Montserrat';
    text-align: center;
    color: white;
    align-self: center;

    &__skew {
        -webkit-clip-path: polygon(0 0, 100% 0%, 100% 26%, 0 50%);
        clip-path: polygon(0 0, 100% 0%, 100% 26%, 0 50%);
        z-index: -1;
        top: 0;
        left: 0;
        position: absolute;
        height: 110vh;
        width: 100vw;
        background-color: #444444;
    }
    &__border {
        -webkit-clip-path: polygon(0 43%, 99% 32%, 100% 26%, 0 50%);
        clip-path: polygon(0 43%, 99% 32%, 100% 26%, 0 50%);
        z-index: -1;
        top: 0;
        left: 0;
        position: absolute;
        height: 110vh;
        width: 100vw;
        background-color: #00cb79;
    }
    h1 {
        font-size: 36px;
        font-weight: 500;
        line-height: 44px;
        
    }
    p {
        color: rgba(255, 255, 255, 0.6);
        font-size: 15px;
        font-weight: 300;
        line-height: 19px;
        width: 403px;
    }
}

.card {
height: 736px;
width: 1240px;
background-color: azure;
box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
border-radius: 7px;
display: grid;
grid-template-rows: 1fr 50px;


    &__inputs {
        display: grid;
        grid-template-rows: repeat(4, 27px);
        grid-template-columns: repeat(4, 1fr);
        justify-items: center;
        align-items: center;

        grid-row-gap: 120px;
        margin-top: 66px;
        margin-left: 83px;
        margin-right: 83px;
    }

    button {
        height: 50px;
        width: 300px;
        border-radius: 4px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.01);

        color: aliceblue;
        font-family: 'Montserrat';
        font-size: 22px;
        text-align: center;
        justify-self: center;
    }

    button:focus {
        outline: none;
        
    } 

    &__generate {
        background-color: #00cb79;
       
    }

    &__clear {
        background-color: #45b0e5;
       
    }

}
.input {
    display: grid;
    grid-column-gap: 8px;
    height: 47px;
    grid-template-columns: 26px 1fr;         
    font-family: 'Montserrat';
    text-align: center;
    padding: 4px 0;

    
    &__title{
        grid-column: 2/3;
        color: #b3b3b3;
        
        font-size: 12px;
        font-weight: 300;
    }
    input {
        grid-column: 2/3;
        border:none;
        text-align: center;
        font-size: 15px;
        font-weight: 600; 
        border-bottom: 1px solid #b3b3b3;
        transition: all 3s ease;
        
        &:focus {
            outline: none;
            border-bottom: 1px solid #00cb79;   
        }

    }

    

    &__number{
        grid-column: 1/2;
        background-color: #00cb79;
        color: white;
        font-size: 20px;
        padding-top: 3px;
        border-radius: 50%;
        height: 26px;
        width: 26px;
    }
}
