.home {
    position: relative;

    background-color: rgba(193, 226, 193, 0.06);
    display: grid;
    justify-items: center;
    grid-template-rows: [header-s] 218px [header-e card-s] minmax(736px, 994px) [card-e];
}

.header {
    font-family: 'Montserrat';
    text-align: center;
    color: white;
    align-self: center;

    &__skew {
        -webkit-clip-path: polygon(0 0, 100% 0%, 100% 26%, 0 50%);
        clip-path: polygon(0 0, 100% 0%, 100% 26%, 0 50%);
        z-index: -1;
        top: 0;
        left: 0;
        position: absolute;
        height: 110vh;
        width: 100vw;
        background-color: #444444;
    }
    &__border {
        -webkit-clip-path: polygon(0 43%, 99% 32%, 100% 26%, 0 50%);
        clip-path: polygon(0 43%, 99% 32%, 100% 26%, 0 50%);
        z-index: -1;
        top: 0;
        left: 0;
        position: absolute;
        height: 110vh;
        width: 100vw;
        background-color: #00cb79;
    }
    h1 {
        font-size: 36px;
        font-weight: 500;
        line-height: 44px;
        
    }
    p {
        color: rgba(255, 255, 255, 0.6);
        font-size: 15px;
        font-weight: 300;
        line-height: 19px;
        width: 403px;
    }
}

.card {
height: 736px;
width: 1240px;
background-color: azure;
box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
border-radius: 7px;
display: grid;
grid-template-rows: 1fr 50px;


&__inputs {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    align-items: center;
}

}
.input {
    display: grid;
    grid-template-columns: 26px 1fr;         
    font-family: 'Montserrat';
    text-align: center;


    &__title{
        grid-column: 2/3;
        color: #b3b3b3;
        border-top: 1px solid #b3b3b3;
        font-size: 12px;
        font-weight: 300;
    }
    input {
        grid-column: 2/3;
        border:none;
        text-align: center;
        font-size: 15px;
        font-weight: 600; 
         
    }
    &__number{
        grid-column: 1/2;
        background-color: #00cb79;
        color: white;
        font-size: 20px;
        padding-top: 3px;
        border-radius: 50%;
    }
}
